<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Dischi</title>
</head>

<body>
    <div id="app">
        <header class="c-header">
            <img class="c-header__logo" src="./images/spotify-logo.png" alt="Logo Spotify">
            <!-- <label class="c-header__input">
                <span class="c-header__label">Filter</span>
                <select v-model="filterValue" @change="emitFilter" class="c-filter" name="filter" id="filter" placeholder>
                    <option value="" selected>All</option>
                    <option v-for="(option, i) in optionsList" :key="i" :value="option">{{option}}</option>
                </select>
            </label> -->
        </header>
        <main>
            <section class="c-collection l-container">
                <div v-for="(album, i) in collection" class="c-album">
                    <img :src="album.poster" :alt="album.title" class="c-album__img">
                    <h3 class="c-album__title">{{album.title}}</h3>
                    <p class="c-album__data">{{album.author}}</p>
                    <p class="c-album__data">{{album.year}}</p>
                </div>
            </section>
        </main>
    </div>
    <!-- Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- Vue development -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="js/main.js"></script>
</body>

</html>